<div class="homepage-partners">
    <div class="col-lg-4 col-sm-4">
        <h3>{{ __('official_parters_title') }}</h3>
    </div>
    <div class="col-lg-8 col-sm-8">
        <img alt="Tomorrowland, Sensation, Ultra, Qlimax, Decibel..." class="img-max-responsive" src="/img/official-partners.png" />
    </div>
    <div class="clearfix"></div>
</div>