# COMPOSER
vendor
components

# BOWER
bower_components

# WWW
www/cache/**
www/media/**

# GIT
!**/.gitkeep

# STORAGE
storage/**

# LOGS
logs/**

# ENV
app/*/config/env.php
app/*/config/env.example.php
config/env.php
config/env.example.php

# DEV -.-
sublime
.idea
phinx.yml
