# COMPOSER
vendor
components

# BOWER
bower_components

# WWW
www/cache/**
www/media/**
www/css
www/js
www/img

# GIT
!**/.gitkeep

# STORAGE
storage/**

# LOGS
logs/**

# ENV
app/*/config/env.php
config/env.php

# DEV -.-
sublime
.idea
phinx.yml

# TESTS ;-)
tests/_output/*
codeception.yml