{% embed 'Pckg/Generic/View/modal.twig' with {'close': true, 'id': 'rebuyModal'} %}
    {% block header %}
        Rebuy
    {% endblock %}
    {% block body %}
        {% verbatim %}
            <p>Copy/paste link below:</p>
            <p>{{ record.rebuyUrl }}</p>
        {% endverbatim %}
    {% endblock %}
{% endembed %}

<script type="text/javascript">
    new Vue({
        parent: maestroTable,
        el: '.container-fluid',
        data: function () {
            return {
                record: null
            };
        },
        methods: {
            openRebuyPopup: function (record) {
                this.record = record;

                $('#rebuyModal').modal('show');
            }
        }
    }).$on('record:openRebuyPopup', function (id, record) {
        this.openRebuyPopup(record);

        return true;
    });
</script>