<h2>Features</h2>
<h3>About Impero</h3>
<div class="row">
    <div class="col-md-4 col-sm-6">
        <h4>Centralized management</h4>
        <p>Impero is SaaS meaning that we take care of infrastructure so you don't need do deploy anything at all.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>Zero overhead</h4>
        <p>We won't install services on your server. All we need is SSH access to your server.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>Team collaboration</h4>
        <p>Share server access to users on team and tag access. You can also give them specific privileges.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
</div>

<h3>Server management</h3>
<div class="row">
    <div class="col-md-4 col-sm-6">
        <h4>Load balancing</h4>
        <p>Simply distribute TCP or HTTP traffic to any node using roundrobin or any other algorithm.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>Scaling</h4>
        <p>Clone whole web server faster then ever.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>Automatic updates</h4>
        <p>Don't worry about security updates. We will update every service by default and let you know about any
            changes.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
</div>

<h3>Features for DevOPs</h3>
<div class="row">
    <div class="col-md-4 col-sm-6">
        <h4>Automated deployment</h4>
        <p>Deploy applications with one click.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>Automated testing</h4>
        <p>2017 is the year of automated deployment and testing. You will be able to install everything from jenkins
            server to virtual machines.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>Webhooks</h4>
        <p>We also offer deploying Impero to dedicated servers managed by us, or managed by you. Contact our sales for
            more info.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-6">
        <h4>Smart cronjobs</h4>
        <p>Manage cronjobs with intuitive web interface, review past execution details and many more.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>SSL management</h4>
        <p>Manage SSL certificates for your Apache or NginX hosted websites and applications for free with
            LetsEncrypt.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>Backups</h4>
        <p>We can also set automated backups of config files, database and other files and backup them to any local or
            remote server.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
</div>

<h3>Services</h3>
<div class="row">
    <div class="col-md-4 col-sm-6">
        <h4>Dependency management</h4>
        <p>Installing all dependencies such as git, composer or npm on multiple servers can be time consuming. Let us
            take care of it.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>Service management</h4>
        <p>We offer automated management of popular webservers, databases, ftp, mail and dns servers and many more.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>Firewall management</h4>
        <p>Allow or deny access to some ports or applications via web interface.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-6">
        <h4>Email</h4>
        <p>Hell, we can also install whole mail infrastructure for you, from postfix and sendmail, to horde and other
            mail services.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>DNS management</h4>
        <p>One click and everything needed for DNS server will be installed on your server. Still, DNS records will be
            edited in our interface.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>(s)FTP made simple</h4>
        <p>Create and manage FTP and SFTP accounts using our interface. We currently support ProFTPd and PureFTPd
            services.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
</div>

<h3>Advanced features</h3>
<div class="row">
    <div class="col-md-4 col-sm-6">
        <h4>Enterprise prepared</h4>
        <p>We also offer deploying Impero to dedicated servers managed by us, or managed by you. Contact our sales for
            more info.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>API</h4>
        <p>We wrote secure web API so you can extend and automate your infrastructure needs.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>Log parser</h4>
        <p>Read apache, mysql, system and other logs in human readable format.</p>
        <a href="#" class="pull-right">Learn more</a>
    </div>
</div>