<a v-if="!record.taken_at && !record.info" type="button" v-on:click.prevent="recordAction(record, 'checkApplyVoucher')" class="btn btn-success" href="#"
   title="{{ __('apply_voucher') }}"><i class="fa fa-lock" aria-hidden="true"></i></a>