<a type="button" v-on:click.prevent="recordAction(record, 'openAttributesPopup')" class="btn btn-warning" href="#"
   title="{{ __('edit_attributes') }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>