{% if record.voucher_url %}
<div class="downloadVouvher">
    <a type="button" class="btn btn-success" href="{{ url('derive.orders.voucher.download', {'order': record}) }}"
       title="{{ __('download_voucher') }}"><i class="fa fa-download" aria-hidden="true"></i></a>
</div>
{% endif %}