<div class="generateVoucher">
    <a type="button" v-on:click.prevent="checkGenerateVoucher({{ record.id }})" class="btn btn-warning" href="#" title="{{ __('generate_voucher') }}">Generate voucher<i class="fa fa-pencil" aria-hidden="true"></i></a>
</div>