<div class="previewVoucher">
    <a type="button" class="btn btn-warning" href="{{ url('derive.orders.voucher.getHtml', {'order': record}) }}"
       title="{{ __('preview_voucher') }}"><i class="fa fa-search" aria-hidden="true"></i></a>
</div>