<a type="button" v-if="record.rebuyUrl" v-on:click.prevent="recordAction(record, 'openRebuyPopup')" class="btn btn-default" href="#"
   title="{{ __('rebuy') }}"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>