<div class="generateVoucher">
    <a type="button" v-on:click.prevent="checkSendVoucher({{ record.id }})" class="btn btn-warning" href="#"
       title="{{ __('send_voucher') }}">Send voucher<i class="fa fa-pencil" aria-hidden="true"></i></a>
</div>