<div class="modal fade" tabindex="-1" role="dialog" id="pageStructureModal">
    <div class="modal-dialog">
        <div class="modal-content">
            {% if block('header') or close %}
                <div class="modal-header">
                    {% if close %}<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>{% endif %}
                    <h4 class="modal-title">{% block header %}{% endblock %}</h4>
                </div>
            {% endif %}
            {% if block('body') %}
                <div class="modal-body">
                    {% block body %}{% endblock %}
                </div>
            {% endif %}
            {% if block('footer') or close %}
            <div class="modal-footer">
                {% if close %}<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>{% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>