<div class="generateVoucher">
    <a type="button" v-on:click.prevent="checkGenerateVoucher()" class="btn btn-info" href="#"
       title="{{ __('generate_voucher') }}"><i class="fa fa-refresh" aria-hidden="true"></i></a>
</div>