{% embed 'Pckg/Generic/View/modal.twig' with {'close': true, 'id': 'sendVouchersModal'} %}
    {% block header %}
        Send vouchers
    {% endblock %}
    {% block body %}
        <p>Do you really want to send vouchers {{ '{{ ids }}' }}?</p>
        <button class="btn btn-success" v-on:click.prevent="sendVouchers">Yes, send vouchers</button>
    {% endblock %}
{% endembed %}

{% embed 'Pckg/Generic/View/modal.twig' with {'close': true, 'id': 'generateVouchersModal'} %}
    {% block header %}
        Generate vouchers
    {% endblock %}
    {% block body %}
        <p>Do you really want to generate vouchers {{ '{{ ids }}' }}?</p>
        <button class="btn btn-success" v-on:click.prevent="generateVouchers">Yes, generate vouchers</button>
    {% endblock %}
{% endembed %}

<script type="text/javascript">
    new Vue({
        parent: maestroTable,
        el: '.container-fluid',
        data: function () {
            return {
                ids: ''
            };
        },
        methods: {
            checkSendVoucher: function (ids) {
                this.ids = ids;

                $('#sendVouchersModal').modal('show');
            },
            sendVouchers: function () {
                http.post('/dev.php/orders/voucher/send/' + this.ids, {}, function (json) {
                    $('#sendVouchersModal').modal('hide');
                });
            },
            checkGenerateVoucher: function (ids) {
                this.ids = ids;

                $('#generateVouchersModal').modal('show');
            },
            generateVouchers: function () {
                http.post('/dev.php/orders/voucher/generate/' + this.ids, {}, function (json) {
                    $('#generateVouchersModal').modal('hide');
                });
            }
        }
    }).$on('record:checkGenerateVoucher', function (id) {
        this.checkGenerateVoucher(id);

        return true;
    }).$on('entity:checkGenerateVoucher', function (ids) {
        this.checkGenerateVoucher(ids.join(','));

        return true;
    }).$on('record:checkSendVoucher', function (id) {
        this.checkSendVoucher(id);

        return true;
    }).$on('entity:checkSendVoucher', function (ids) {
        this.checkSendVoucher(ids.join(','));

        return true;
    });
</script>