<html>
<head>
</head>
<body style="margin: 0; padding: 0; background: #f0f0f0; font-family: Arial, sans-serif; font-size: 14px;">
<div style="width: 600px; margin: 0 auto; clear: both;">
    <span style="display: block; clear: both; height: auto; font-size: 30px; margin: 0 auto; margin: 15px; text-transform: uppercase; text-align: center;">Your VOUCHER for Hard Island {{ order.offer.title }}</span>
    <span style="display: block; clear: both; height: 1px; background: #ccc;"></span>

    <p>Hey!</p>
    <p></p>
    <p>We are sending you your voucher for Hard Island 2016 (attached as a PDF).</p>
<!--    <p>We are sending you your voucher again for Hard Island 2016 (attached as a PDF) due to error in processing. The now attached voucher is correct. Thank you for your understanding.</p> -->
    <p></p>
    <p>1) Print it out and bring it with you! (Or save it on your mobile for quick offline access later)</p>
    <p>2) Only the person who made the order received this email. Services for your friends will be collected with the same voucher (if possible please come as a whole group that made the booking)</p>
    <p>3) Read the info on the voucher carefully. Please scroll thru all the pages.</p>
    <p>4) If you have questions <a href="https://hardisland.com/faq-shop" target="_blank">check the FAQ section</a> or <a
                href="mailto:info@hardisland.com">contact us by email</a>. We are also available on our <span
                style="text-decoration: underline;">live support</span> at the right bottom corner of our <a
                href="http://hardisland.com" target="_blank">website</a> or on our <a
                href="http://www.fb.com/HardIsland"
                target="_blank">facebook page</a>.</p>
</div>
</body>
</html>
