{% embed 'Pckg/Generic/View/panel.twig' %}
    {% block title %}
        <h4>Add new server</h4>
    {% endblock %}
    {% block content %}
        <impero-servers-add></impero-servers-add>
    {% endblock %}
{% endembed %}