<a v-if="record.voucher_url" type="button" class="btn btn-success" v-bind:href="record.downloadVoucherUrl"
           title="{{ __('download_voucher') }}"><i class="fa fa-download" aria-hidden="true"></i></a>
