<a v-if="record.taken_at" type="button" v-on:click.prevent="recordAction(record, 'checkReValidVoucher')" class="btn btn-danger" href="#"
   title="{{ __('revalid_voucher') }}"><i class="fa fa-unlock-alt" aria-hidden="true"></i></a>