<a type="button" v-on:click.prevent="recordAction(record, 'checkSendVoucher')" class="btn btn-danger" href="#"
   title="{{ __('send_voucher') }}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>